@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* tags separadas por virgula indica que quero que as duas sejam afetadas*/

html, body {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: larger;

}

h1 {
    color: rgb(red, green, blue);
    background-color: rgba(255, 150, 255, 0.4);
    text-align: center;
    text-decoration: line-through;
}


/* tags sem separar por vírgulas trata-se de seletor específico que quer afetar somente a tag p que está dentro de uma div.*/
div p {
    color: tomato;
}

body .p3 {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,106,121,1) 72%, rgba(0,212,255,1) 100%); 
    color: aqua;
    
}

/* Pegando todos os elementos de dentro de Body */
body div * {
    background-color: bisque;
    border-width: 3px;
    border-color: rgb(235, 7, 7);
    border-style: double;
    padding: 5px;
    font-weight: 800;
}

a {
    color: brown;
    text-decoration: none;
    cursor: pointer;
    background-color: beige;
    padding: 10px;
    border-radius: 5px 5px 5px 7px;
    box-shadow: 5px 5px 5px black;
    text-align: justify;
    
}

.link {
    text-align: center;
    width: 90vw;
    padding: 3em;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,112,121,1) 72%, rgba(0,212,255,1) 100%); 
    background-color: orange;
}

ul {
    list-style: none;
    
}

.bordas {
    margin: 20px;
    border: 30px tomato;
    padding: 1em;
    border-style: solid;
    box-shadow: 7px 10px 10px black;
    border-radius: 20px 0px 20px;

}

.boxmodel {
    border: 25px tomato;
    margin: 30px;
    border-style: solid;
    border-radius: 20px 0px 20px;
    box-shadow: 7px 10px 10px black;
    background-color: cadetblue;
    padding: 3em;
}

/* width + border + padding - dá prioridade pro tamanho do conteúdo */
.borda1 {
    border: 10px black;
    border-style: solid;
    box-sizing: content-box;
    background-color: green;
    width: 10%;
    padding: 10px;
    margin: 10px;
    
}

/* prioridade pro tamanho total da caixa...
Se definimos 80px pra caixa, ela terá exatamente 80px..
O espaço do conteúdo será reduzido
*/
.borda2 {
    border: 10px black;
    border-style: solid;
    box-sizing: border-box;
    background-color: green;
    width: 10%;
    padding: 10px;
    margin: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}
