body {
    margin: 0;
    bottom: 0;
    background: rgb(246,246,246);
    background: linear-gradient(90deg, rgba(246,246,246,1) 0%, rgba(62,173,123,1) 100%); 
}
#app {
    background: rgb(246,246,246);
    background: linear-gradient(90deg, rgba(246,246,246,1) 0%, rgba(62,173,123,1) 100%); 
}
#header {
    background: rgb(41,117,83);
    background: linear-gradient(90deg, rgba(41,117,83,1) 0%, rgba(62,173,123,1) 100%); 
}
#imgContainer {
    background: rgb(41,117,83);
    background: linear-gradient(90deg, rgba(41,117,83,1) 0%, rgba(62,173,123,1) 100%); 
}
#form {
    background: rgb(41,117,83);
    background: linear-gradient(90deg, rgba(41,117,83,1) 0%, rgba(62,173,123,1) 100%); 
}
#form label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
}
#button:hover{
    background-color: white;
    color: black;
}

#button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    color: white;
    padding: 10px;
    width: 50%;
    border-radius: 5px;
    border: none;
    background-color: #42b883;
    margin-left: 25%;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 3px 3px 15px black;
}
#result {
    bottom: 0;
    margin: 0;
}

.muitoabaixo {
    background-color: #02a547;
}
.abaixo {
    background-color: #84c341;
}
.normal {
    background-color: #c5d72c;
}
.acima {
    background-color: #f7a01a;
}
.obeso1 {
    background-color: #f3811e;
}
.obeso2 {
    background-color: #d21820;
    color: white;
}
.obeso3 {
    background-color: #231f21;
    color: white;
}
