* {
    margin: 0;
    text-align: center;

}

body {
    background: rgb(245,245,220);
    background: radial-gradient(circle, rgba(245,245,220,1) 0%, rgba(204,182,105,1) 100%, rgba(181,147,40,1) 100%, rgba(222,184,135,1) 100%, rgba(117,117,117,1) 100%); 
}

header {
    background: rgb(245,245,220);
    background: radial-gradient(circle, rgba(245,245,220,1) 0%, rgba(74,59,16,1) 0%, rgba(133,114,56,1) 0%, rgba(204,182,105,1) 100%, rgba(222,184,135,1) 100%, rgba(117,117,117,1) 100%); 
    padding: 10px;

    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    display: flex;
}

header img {
    width: 50px;
    margin-left: 40px;
}
header h1 {
    width: 90%;
    text-align: center;
}

main {
    margin: auto;
    padding: 30px 50px;

}

.card {
    background-color: beige;
    border: 1px solid gray;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    margin: auto;
}

.card .lineInput {
    font-family: 'Courier New', Courier, monospace;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-bottom: 10px;
    
}
.lineInput input {
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    border: 2px solid gray;
    box-shadow: 2px 2px 2px gray;
    font-size: x-large;
    border-radius: 5px;
}

.lineInput input:hover {
    box-shadow: 4px 4px 10px black;
}

.card button:hover{
    background-color: tomato;
    color: white;
    box-shadow: 4px 4px 10px tomato;
}

.card button {
    padding: 5px;
    background-color: white;
    color: black;
    font-weight: bold;
    margin-bottom: 10px;
    border-radius: 5px;
} 

.conteudo {
    margin-top: 10px;
    width: 60%;
    margin: auto;

}
.conteudo table {
    width: 100%;
    
    border-radius: 5px;
    box-shadow: 5px 5px 10px gray;
    background: rgb(245,245,220);
    background: radial-gradient(circle, rgba(245,245,220,1) 0%, rgba(249,242,223,1) 89%, rgba(204,182,105,1) 100%, rgba(222,184,135,1) 100%, rgba(117,117,117,1) 100%); 
    
}

.conteudo table thead {
    background: rgb(245,245,220);
    background: radial-gradient(circle, rgba(245,245,220,1) 0%, rgba(181,147,40,1) 92%, rgba(222,184,135,1) 100%, rgba(117,117,117,1) 100%); 
    color: black;
}

#tbody tr:hover {
    background: rgb(245,245,220);
    background: radial-gradient(circle, rgba(245,245,220,1) 0%, rgba(181,147,40,1) 92%, rgba(222,184,135,1) 100%, rgba(117,117,117,1) 100%);
    
    box-shadow: 7px 7px 15px black;
}

#tbody tr {
    cursor: pointer;
}

#tbody td {
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-size: xx-large;
    font-weight: bolder;

}

#btns {
    border: 1px solid gray;
    
    margin: auto;
    width: 400px;
    padding: 2px;
    margin-bottom: 10px;
    border-radius: 5px;
    background: rgb(245,245,220);
    background: radial-gradient(circle, rgba(245,245,220,1) 0%, rgba(181,147,40,1) 92%, rgba(222,184,135,1) 100%, rgba(117,117,117,1) 100%); 
}

#btns button:hover{
    background-color: skyblue;
    color: black;
    box-shadow: 4px 4px 10px skyblue;
}

#btns button {
    margin-top: 5px;
    padding: 5px;
    font-size: x-small;

}

#editar:hover {
    color: black;
    background-color: skyblue;
    box-shadow: 2px 2px 10px black;
}

footer {
    padding: 20px;
    background: rgb(245,245,220);
    background: radial-gradient(circle, rgba(245,245,220,1) 0%, rgba(74,59,16,1) 0%, rgba(133,114,56,1) 0%, rgba(204,182,105,1) 100%, rgba(222,184,135,1) 100%, rgba(117,117,117,1) 100%); 
    

}